{% extends 'base.html' %}
{% load static %}

{% block header %}
登録
{% endblock header %}

{% block content %}
 <form method="post" novalidate>{% csrf_token %}
    <div class="form-area">
        <p class="control">
            <label class="padding-labelinput" for="name">{{ form.name.label_tag }}</label>
            {{ form.name }}
        </p>
        <p class="control">
            <label class="padding-labelinput" for="sexRadios">{{ form.sex_id.label_tag }}</label>
            {{ form.sex_id }}
        </p>
        <p class="control">
            <label class="padding-labelinput" for="characteristic">{{ form.characteristic.label_tag }}</label>
            {{ form.characteristic }}
        </p>
        <button type='submit' type="button" class="btn btn-success btn-origin">登録</button>

    </div>
</form>
{% endblock content %}