{% extends 'base.html' %}

{% block header %}
　一覧
{% endblock header %}

{% block content %}

<table class="table table-striped table-origin">
  <thead class="table-dark">
    <tr>
      <th scope="col">名前</th>
      <th scope="col">性別</th>
      <th scope="col">特徴</th>
    </tr>
  </thead>
  <tbody class="table-white">
    {% for object in object_list %}
    <tr>
        <td>{{ object.name }}</td>
        <td>{{ object.sex_id.value }}</td>
        <td>{{ object.characteristic }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}